@model string

<div style="position: fixed; right: 25px; bottom: 25px; z-index: 1030;">
    <a asp-controller="@Model" asp-action="Create"
       class="btn btn-lg btn-success shadow px-4 py-2 fw-bold">
        <i class="bi bi-plus-circle me-2"></i> Add New
    </a>
</div>
